<div class="container h-100 text-dark create-body">
    <div class="row justify-content-center align-items-center">
        <h1 class="pt-5">Contact Us</h1>
    </div>
    <hr />
    <p class="pt-4 contact-text">
        If you are having any difficulties or would like to give us your feedback feel free to send us a message! Our team will aim to be in touch with you within 3-5 working days.
    </p>
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 pt-5">

            <form [formGroup]="contactRef" class="container needs-validation create-form" novalidate>
                <div class="form-group pt-3">
                    <label for="title" class="form-label">Name</label>
                    <input type="text" class="form-control" id="title" formControlName="name" placeholder="Blog title"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid blog name.
                    </div>
                </div>

                <div class="form-group pt-4">
                    <label for="author" class="form-label">E-mail</label>
                    <input type="text" class="form-control" id="author" formControlName="email" placeholder="John Doe"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid e-mail.
                    </div>
                </div>

                <div class="form-group pt-4 pb-4">
                    <label for="desc" class="form-label">Issue</label>
                    <textarea type="text" class="form-control" style="height: 20vh;" id="desc" formControlName="issue"
                        placeholder="Write about food here!" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please prove a valid issue.
                    </div>
                </div>

                <div class="form-group">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 pt-4"><button class="col-6 btn btn-primary btn-sm float-left"
                                    type="submit" [value]="buttonValue" (click)="storeContact()">Submit</button></div>
                            <div class="col-6 pt-4"><button class="col-6 btn btn-warning btn-sm float-right"
                                    type="reset" value="reset">Clear</button></div>
                        </div>
                    </div>
                </div>

            </form>
            <br />
            {{resultMessage}}
        </div>
    </div>
</div>